
<meta name="robots" content="follow, index" >
<meta name="keywords" content="AI, Platform Engineering, Cloud Native, Kubernetes, CNCF, Mentoring" >
<meta content="Platform Engineering and AI made simple" name="description" >
<meta property="og:url" content="https://mb-consulting.dev//" >
<link rel="canonical" href="https://mb-consulting.dev//" >
<meta property="og:type" content="website" >
<meta property="og:site_name" content="Matteo Bianchi" >
<meta property="og:description" content="Platform Engineering and AI made simple" >
<meta property="og:title" content="Matteo Bianchi" >
<meta property="og:image" content="/images/xxx.xxx" >
<meta name="twitter:card" content="summary_large_image" >
<meta name="twitter:site" content="@mbianchidev" >
<meta name="twitter:title" content="Matteo Bianchi" >
<meta name="twitter:description" content="Platform Engineering and AI made simple" >
<meta name="twitter:image" content="/images/xxx.xxx" >